@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

body{
    font-family: 'Tektur', cursive;
}

*{
    scroll-margin-top:100px;
}

::-webkit-scrollbar-track
{
	background-color: black;
}

::-webkit-scrollbar
{
	width: 5px;
}

    ::-webkit-scrollbar-thumb
{
	background-color: cyan;
    border-radius:5px;

}


/** profile img **/

.profile_box{
    position: relative;
    width:300px;
    height:300px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.profile_box::before{
    content: "";
    position:absolute;
    background-color: cyan;
    inset:-10px 90px;
   transition: 0.5s;
   animation: profile_animate 2s linear infinite;
}

.profile_box:hover::before{
    inset : -10px 0;
}

@keyframes profile_animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.profile_box::after{
    content: "";
    position: absolute;
    inset: 5.5px;
    background-color: black;
    border-radius: 50%;
}

.profile_content{
    position :absolute;
    inset:30px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.profile_img{
   object-fit: cover;
   object-position: top;
   width: 100%;
   height: 100%;
}

/** profile img **/

/* pofile name */

.profile_name{
    line-height: 100px;
    -webkit-text-stroke: 1px white;
    text-transform: uppercase;
    background: url(./assets/name-back.png);
    color:transparent;
    background-size:400px 100px;
    -webkit-background-clip:text;
    background-position: 0 0;
    animation:profile_back 5s linear infinite;
}

@keyframes profile_back {
    100%{
        background-position: 200px 0;
    }
}
/* pofile name */

.fadeIn {
    animation: fadeInAnimation 1s;
  }
  
  @keyframes fadeInAnimation {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  
  .fadeOut {
    animation: fadeOutAnimation 1s;
  }
  
  @keyframes fadeOutAnimation {
      from { opacity: 1; }
      to   { opacity: 0; }
  }

/* responsive */

@media only screen and (max-width: 450px) {
    .profile_box{
        width:200px;
        height:200px;
    }
  }

  